.bgEffect {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vw;
  max-width: 1000px;
  max-height: 1000px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0) 70%);
  pointer-events: none;
  z-index: -1;
}
